.container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10%;
}
.cards{
    width: 250px;
    height: 250px;
    margin: 2%;
}

.add-new{
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}